* {
  margin: 0;
  padding: 0;
}

.Banner {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: rgba(0, 38, 255, 0.185);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-image: url("https://files.certifiquei.com.br/p/uploads/2022/10/harry-potter.jpg");
}



.Banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.sobrelivro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Informacoes {
  padding: 20px;
  margin-left: 80px;
  font-size: 20px;
}

.sobrelivro img {
  margin-top: 10px;
  height: 500px;
  margin-right: 80px;
}

.galeria img{
  object-fit: cover;
  width: 380px;
  height: 580px;
  
}
.galeria{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 40px 90px;
  gap: 15px;
}
#livros{
    text-align: center;
}

@media screen and (max-width: 600px){
  .galeria{
    display: flex;
    flex-wrap: wrap;
    padding: 0cm;
    justify-content: center;
  }
  .descricao{
    text-align: center ;
  }
  .livro7{
    justify-content: center ;

  }
  .sobrelivro{
    display: flex;
    flex-direction: column;
    gap: 0px;

  }
  .Informacoes{
    text-align: center;
    margin: 0cm;
  }
  .sobrelivro img{
  margin-right: 0cm;  
}

}

.cabeca {
  background-color: rgb(255, 238, 0);
  height: 70px;
  align-items: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.rodape{
  background-color: rgb(255, 230, 0);
  color: rgb(0, 0, 0);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulobanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
}
.descricao{
  text-align: center;
  font-size: 20px;
}
.sobrelivro img {
  margin-top: 10px;
  height: 500px;
  margin-right: 80px;
}

.livro7{
  text-align: center;
  font-size: 20px;
}